* {
    outline: 0px solid red;
}

body {
    margin: 0px;
    border: 0px;
}

#container {
    display: grid;
    height: 100vh;
    grid-template: 175px 1fr / 300px 1fr;
    font-family: 'Roboto'
}

#sidebar {
    grid-area: 1 / 1 / 3 / 2;
    background-color: #0ea5e9;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#sidebar>button {
    background-color: #0ea5e9;
    border: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 1000;
    color: white;
    font-size: 15px;
}

#sidebar>button:hover {
    background-color: rgba(0, 255, 255, 0.705);
}

svg {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.dashboard {
    margin-bottom: 15px;
}

.communities {
    margin-bottom: 50px;
}

#header {
    grid-area: 1 / 2 / 2 / 2;
    box-shadow: 10px 0 10px #bfdbfe;
    display: grid;
    grid-template: 1fr 1fr / 50px 1fr 75px 50px 75px 170px;
    padding: 0px 30px 15px 30px;
    align-items: center;
    gap: 10px;
}

.display-pic {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 25px;
}

#header>.notif {
    grid-column-start: 4;
}

#header>input {
    height: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 0px;
    background-color: #d4d4d4;
}

.main-prof {
    grid-area: 2/1/3/3;
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-pic {
    height: 70px;
    width: 70px;
    margin-left: 10px;
    border-radius: 35px;
    border: 1px solid black;
}

.buttons {
    grid-area: 2/3/3/7;
    display: flex;
    justify-content: space-around;
}

.buttons>.button {
    height: 40px;
    width: 80px;
    background-color: #0ea5e9;
    border: 0px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
}

#content {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #e0f2fe;
    display: grid;
    grid-template: 1fr 1fr / 1fr 300px ;
    gap: 10px;
    padding: 20px;
}

.project {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 35px 1fr;
    padding: 10px;
    align-items:stretch;
    gap: 10px;
}

.content-header {
    font-size: large;
    font-weight: bolder;
    align-items: center;
    padding: 10px;
}

.content-body {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
    min-width: 550px;
}

.project>.content-header {
    grid-column: 1 / 2;
}

.contents {
    height: 1fr;
    background-color: white;
    border-left: 10px solid #fcd34d;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.announcement, .trending {
    display: grid;
    grid-template-rows: 35px 1fr;
    padding: 10px;
    gap: 20px;
}

.announcements {
    height: 1fr;
    width: 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    font-size: large;
    font-weight: 1000;
}

.card-body {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.651);
}

.card-footer {
    text-align: end;
}

a>svg {
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    color: black;
}

a {
    text-decoration: none;
}

a>svg:hover {
    color: #0ea5e9;
}

.hide {
    display: none;
    text-align: end;
    background-color: #d4d4d4;
    padding: 5px;
    border-radius: 10px;
}

a>svg:hover + .hide {
    display: inline-block;
    position: absolute;
    color: rgba(0, 0, 0, 0.733);
    font-size: 12px;
}

.line {
    border: 1px solid rgba(0, 0, 0, 0.404);
}

.announcement-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 10px;
}

.announcement-header {
    font-size: 15px;
    font-weight: 900;
}

.announcement-notes {
    font-size: 10px;
}

.trendings {
    height: 1fr;
    width: 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-content {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trending-pic {
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 25px;
    border: 1px solid black;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.452);
}